body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
html, body {
    /* width:  100%; */
    height: 100%;
    margin: 0px;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 300%;
}
div.content {
    background-color:white;
    margin: 50px;
    padding:20px;
    padding-top:5px;
}
div.page_header{
    margin: 0px;
    padding:0px;
    padding-top:0px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-origin: content-box;
    background-image: url("./resources/img/header_bg.png");
    background-repeat: no-repeat;
}
h1.title{
    align-self: left;
    
    margin-bottom: 0px;
    line-height: 300px;
    font-size: 100px;
    color: rgb(0, 0, 0);
}
ol {
    margin:50px;
    padding-left: 20px;
}
#map {
    height: 500px;
    width: 750px;
}

ul.menu {
    background-color: darkgray;
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: sticky;
    top:0;
}
ul.menu li {
    float: left;
}
ul.menu li a {
    display:block;
    padding:20px;
    text-align: center;
    text-decoration: none;
    color:black;
    font-size: 125%;
}
ul.menu li a:hover{
    background-color:grey;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightgray;
}
tr {
    text-align: center;
}